.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Services WeddingPhotography  Start */
.sertext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sertext h1 {
  color: #fff;
  background-color: #888b915b;
  height: 85vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}
.serimg {
  width: 100%;
  height: 85vh;
}
.htext h6{
 text-align: center;
}
.htag h5{
  text-align: center;
}

.varmala{
  text-decoration: none;
  color: gray;
  font-size: 14px;
}
.varmala:hover{
  text-decoration: underline;
}
.pagelinks{
  color: rgb(154, 204, 154);
  text-decoration: none;
}.pagelinks:hover{
  text-decoration: underline;
}

@media (max-width: 768px) {
  .sertext h1{
    font-size: 25px;
  }
}

@media (max-width:350px) {
  .sertext h1{
    font-size: 15px;
  }
  .serimg {
    width: 100%;
    height: 85vh;
  }
}

/* Services WeddingPhotography  End*/

